body {
  background-color: rgb(206, 185, 29);
  font-family: Golos, Roboto, sans-serif;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 20px;
  border-radius: 12px;
  align-items: center;
  position: absolute;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 20px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 49.5%;
  transform: translateX(-50%) translateY(-50%);
}

#button {
  width: 100px;
  height: 25px;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: inset 0 0 0 2px rgba(208, 51, 51, 0.2);
  text-align: center;
  position: absolute;
  top: 60%;
  left: 51%;
  transform: translateX(-50%) translateY(-50%);
}
