body {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 10px;
}
